body {
  font-size: 18px;
  line-height: 1.3;
  margin: 0 auto;
  font-family: 'Amatic SC', cursive;
  color: #653308;
  z-index: 0;
  position: relative;
  background-color: #42250b;
  text-align: center;
}

a {
  color: #ba9869;
  text-decoration: none;
}

/*header styling*/
header {
    align-items: center;
    display: flex;
    background-color: #986638;
    justify-content: center;
}

#main-logo {
    max-width: 150px;
    padding: 10px;
}

nav> ul {
    display: flex;
}
nav > ul > li {
    padding: 5px 10px;
    margin: 5px;
    font-size: 1.5rem;
    border-radius: 10px;
    transition: all .25s ease-in;
}
nav > ul> li:hover {
    background-color: #ba9869;
    color: #653308;
}
nav > ul > li:hover > a {
  color: #653308;
  text-decoration: none;
}
#searchbar {
  font-size: 1.5rem;
  padding: 5px;
  margin: 5px 10px;
  border-radius: 10px;
  min-width: 100px;
  background-color: #ba9869;
  transition: all 1s ease;
  border: none;
  max-width: 300px;
}
#searchbar::placeholder {
  color: #986638;
}
#searchbar:focus {
  background-color: #fecb96;
}

/*---------------*/
/*animal styling*/
#animal-overlays {
  z-index: 5;
  position: absolute;
  margin: auto;
  left: 0;
  right:0;
  max-width: 60%;
}
#bunny, #duck{
  position: relative;
}
#bunny > p, #duck > p {
  position: absolute;
  max-width: 400px;
  font-size: 1.5rem;
  z-index: 10;
  top: 19%;
  left: 35%;
}
#bear, #kitty{
  position: relative;
}
#bear > p, #kitty > p {
  position: absolute;
  max-width: 400px;
  font-size: 1.5rem;
  z-index: 10;
  top: 18%;
  left: 10%;
}

/*band photos styling*/
#dump {
  z-index: -5;
  position: relative;
}
.slick-slide > img {
  opacity: .2;
}

/*band search styling*/
#band-search {
  display: none;
  text-align: left;
}
#empty-bandsearch {
  width: 60%;
  margin: 0 auto;
  position: relative;
}
#empty-p {
  font-size: 1.8rem;
  color: #653308;
  z-index: 20;
  position: absolute;
  left: 48%;
  top: 20%;
}
#band-img {
  width: 200px;
  height: 200px;
  visibility: hidden;
  border-radius: 10px;
}
#top-section {
  font-family: arial;
}
#band-name {
  font-size: 4rem;
  font-weight: 700;
  color: #ba9869;
}
#band-bio {
  width: 100%;
  padding: 10px;
  background-color: #ba9869;
  border-radius: 10px;
}

table {
  margin: auto;
}

#similar {
  text-align: left;
  width: 300px;
  margin: auto;
}

.sim-img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

.sim-div {
  display: inline-block;
}
#empty-bandsearch {
  color: #fecbc9;
  font-size: 3rem;
}

/*contact form*/
#human-contact {
  display: none;
  background-color: #fecb9c;
  width: 60%;
  margin: 10px auto;
  border-radius: 10px;
}
.contact-form-row {
  padding: 10px;
}
#contact-form-button {
  margin: 10px;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #ba9869;
  border: none;
  transition: all .5s ease;
}
#contact-form-button:hover {
  background-color: #653308;
  color: #fecb9c;
}

footer {
  /*display: none;*/
  background-color: black;
  color: white;
}
